@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.AsideContainer {
  position: absolute;
  z-index: 1;
  background-color: var(--blue-tech5);
  border-style: solid 3px var(--blue-tech);
  // border-radius: 10px;
  margin-top: 3rem;
  margin-left: 13rem;
  padding: 30px;
  max-height: auto;
}

.buttonPublish {
  background-color: #80993a;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: hsla(76, 45%, 41%, 0.39);
  }
}

.buttonDisabled {
  opacity: 0.5; /* Reduz a opacidade para ofuscar o botão */
  cursor: not-allowed;
  background-color: #4caf4f;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: #45a049;
  }
}

.modalClass {
  display: flex;
  justify-content: flex;
  align-items: center;
  z-index: 2;
}

#modal {
  display: flex;
}

.AsideSelectworkflowStepForm {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.AsideSelectMainworkflowStepForm {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
  padding: 3vh;
}

.AsideSelectGroupId {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vh;
  border-radius: 5px;
  padding: 0.3vh;
}

.newId {
  background-color: green;
}

.containerTableTwo {
  overflow-y: auto;
  max-height: 550px;
}

.buttonAdd {
  background-color: #4caf50;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: #45a04988;
  }
}

.buttonAtualizar {
  background-color: #4caf50;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: #45a04981;
  }
}

.buttonSave {
  background-color: #4caf50;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: #45a0497a;
  }
}

.buttonCancelar {
  background-color: #f44336;
  /* Green */
  border-radius: 2px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: #45a04979;
  }
}

.buttonDeletar {
  background-color: #f44336;
  /* Red */
  border-radius: 2px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: #da190b85;
  }
}

.selectedRow {
  background-color: #d46961;
  /* Altere para a cor desejada */
}

.deleteMode {
  background-color: #6766aa;
}

.menuFiltro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.2rem;
}

.filterContainer {
  display: flex;
  align-items: center;
}

.filterLabelRota {
  padding: 5px;
  color: var(--white);
  margin-right: 2px;
  white-space: nowrap;
}

.filterLabel {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: var(--dark-900);
  color: var(--white);
  margin-right: 2px;
  margin-top: -1.3rem;
  white-space: nowrap;
}

.selectOption {
  background-color: #d7dde2;
  color: #343a40;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}

.body_td_empty {
  height: 25px;
}

.body_td {
  cursor: pointer;
}

.inputEdit {
  border: none;
  background-color: #292929;
  color: #fff;
  font-size: 16px;
  min-width: 200px;
}

.filterText {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.3rem;
  border-radius: 2px;
}

.buttonContainer {
  margin-top: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;

  th {
    background-color: var(--dark-900);
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid var(--white);
    padding: 5px;
    white-space: nowrap;
  }

  td {
    border: 1px solid var(--dark-900);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    white-space: nowrap;
    width: 150%;
    min-width: 200px;
  }
}

.tableBody {
  color: #fff;
  background-color: #292929;
  border: var(--dark-900);
  padding: 150px;
}

.espaço {
  margin: 30px;
}

.titleTable {
  background-color: #f2f2f2;

  titleTableCell {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) {
  .AsideContainer {
    width: 327%;
  }
}

@media screen and (min-width: 400px) {
  .AsideContainer {
    width: 339%;
  }
}

@media screen and (min-width: 420px) {
  .AsideContainer {
    width: 310%;
  }
}

@media screen and (min-width: 520px) {
  .AsideContainer {
    width: 290%;
  }
}

@media screen and (min-width: 620px) {
  .AsideContainer {
    width: 210%;
  }
}

@media screen and (min-width: 720px) {
  .AsideContainer {
    width: 181%;
  }
}

@media screen and (min-width: 820px) {
  .AsideContainer {
    width: 168%;
  }
}

@media screen and (min-width: 920px) {
  .AsideContainer {
    width: 146%;
  }
}

@media screen and (min-width: 1020px) {
  .AsideContainer {
    width: 143%;
  }
}

@media screen and (min-width: 1120px) {
  .AsideContainer {
    width: 121%;
  }
}

@media screen and (min-width: 1220px) {
  .AsideContainer {
    width: 108%;
  }
}

// @media screen and (min-width: 1320px) {
//   .AsideContainer {
//     width: 100%;
//   }
// }

// @media screen and (min-width: 1420px) {
//   .AsideContainer {
//     width: 97%;
//   }
// }

// @media screen and (min-width: 1520px) {
//   .AsideContainer {
//     width: 92%;
//   }
// }

// @media screen and (min-width: 1620px) {
//   .AsideContainer {
//     width: 83%;
//   }
// }

@media screen and (min-width: 1320px) {
  .AsideContainer {
    width: 82%;
  }
}

@media screen and (min-width: 1420px) {
  .AsideContainer {
    width: 82%;
  }
}

@media screen and (min-width: 1520px) {
  .AsideContainer {
    width: 84%;
  }
}

@media screen and (min-width: 1620px) {
  .AsideContainer {
    width: 87%;
  }
}
