.sectionContainer {
  background: var(--blue-tech3);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sectionContentButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  margin-top: 15%;

  .button {
    background-color: var(--blue-tech5);
    color: #ffffff;
    border: solid 3px var(--blue-tech4);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    width: 160px;
    height: 40px;
    white-space: nowrap;
    &:hover {
      color: rgb(255, 255, 255);
      box-shadow: 0 0 10px #ffffff8f;
    }
  }
}

.sectionContentButton .buttonActive {
  background-color: #071061;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px #ffffff8f;
}

.sectionContentFerramenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h2 {
    color: var(--white);
    padding-top: 1rem;
    font-family: Poppins;
    font-style: oblique;
    font-weight: 400;
    font-size: 1.4rem;
    white-space: nowrap;
  }
}
