* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  // justify-content: center;
  // align-items: center;
}

:root {
  --white: #fff;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1d1d2e;

  --gray-100: #383838;
  --green-900: #3fffa3;
  --green-600: #04914b;
  --red-900: #f43e48;

  --blue-tech: #0352fc;
  --blue-tech2: #3258a8;
  --blue-tech3: #1b1b27;
  --blue-tech4: #242a36;
  --blue-tech5: #141625;
  --blue-tech6: #34446c;
  --blue-tech7: #a6b0cf;

  --blue-tech-faint: #0352fc8e;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--dark-700);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem sans-serif;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 93.75%;
  }
}
